body{
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#16a34a;
}

.container{
    max-width:800px;
    margin:40px auto;
    padding:20px;
}

h1{
    text-align:center;
    color:white;
    font-size:42px;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:white;
    margin-bottom:35px;
}

.card{
    background:white;
    border-radius:16px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.card h2{
    margin-top:0;
    color:#16a34a;
}

.code{
    background:#f4f4f4;
    padding:15px;
    border-radius:10px;
    word-break:break-all;
    margin:15px 0;
    font-size:14px;
}

button{
    width:100%;
    border:none;
    background:#16a34a;
    color:white;
    padding:15px;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#15803d;
}